# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python.
2. SQL.
3. R.

**Objectives:**
Three popular languages for Data Science
* Java.
* Scala.
* JavaScript.

|Data Science Tools|
|------------------|
|1. Pytorch        |
|2. MLFlow         |
|3. Hugging Face   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Aaron Williams